body {
  background: #fff;
  background-image: url('/assets/background.svg');
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.logo {  
  height: 8rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  width: 80%;
}

a img {
  margin: 0.7rem 0;
  height: 11rem;
  width: 11rem;
  object-fit: cover;
  object-position: center;
}